{% extends "task/base.html" %}
{% load static %}


{% block content %}
<div class="top-home">
    <h1>ToDo List Manager</h1>
    <h2>Let's Start</h2>
    
    {% if user.is_authenticated %}
    <div class="buttons">
      <a  href=' {% url "task:list_task" %} '><button class="btn btn-primary">Task List</button></a>
   </div>    
 {% else %}
 <div class="buttons">
   <a  href=' {% url "login" %} '><button class="btn btn-primary">Login</button></a>
       <a  href=' {% url "task:signup" %} '><button class="btn btn-primary">Signin</button></a>
</div>
                     
 {% endif %}
    
</div>
{% endblock content %}