{% extends "task/base.html" %}
{% load static %}


{% block content %}

<div class='card-container'>
    {% for task in task_list %}
       
          <div class='card'>
             <div class='card-content'>
                <article>
                   <h3>{{task.title}}</h3>
                   <h4>Time Posted : {{task.date_created}}</h4>
                   {% comment %} <p>{{task.text}}</p> {% endcomment %}
                   {% comment %} <p>{{task.text|truncatewords:25}}</p> {% endcomment %}
                   <a href='/detail_task/{{task.id}}' class='post-btn'>Read More</a>
                </article>
             </div>
          </div>
       
    {% endfor %}

 </div>

 <form action="{% url 'logout' %}" method="post">
   {% csrf_token %}
   <button type="submit">Logout</button>
</form>

{% endblock content %}