{% extends "task/base.html" %}
{% load static %}


{% block content %}

{% if task.user != user %}      {% comment %} checks if the user is the same one that made the post {% endcomment %}
    
    <p class="error"> You dont have permission for this page</p>
{% else %}
<div class="top">
        <div class='card-container'>
            
                <div class='card'>
                    <div class='card-content'>
                            <article>
                            <h3>{{task.title}}</h3>
                            <h4>Time Posted : {{task.date_created}}</h4>
                            <p>{{task.text}}</p>

                            <div class='form-checkbox'>
                                <label for="is_done" class='form-checkbox-label'> is done?</label>
                                <input type="checkbox" id="is_done" name="is_done" {% if task.is_done %}checked{% endif %} disabled />
                                
                            </div>

            
                        </article>
                        <div class='post-btns'>
                            <a  href='/update_task/{{task.id}}'><button class='post-btn'>Update</button></a>
                            <a  href='/delete_task/{{task.id}}'><button class='post-btn-delete'>Delete</button></a>
                         </div>
                    </div>
                </div>
            
            

        </div>

        <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
        </form>
    </div>
{% endif %}

{% endblock content %}