{% extends "task/base.html" %}
{% load static %}


{% block content %}

{% if task.user != user %}      {% comment %} checks if the user is the same one that made the post {% endcomment %}
    
    <p class="p-3 mb-2 bg-danger text-white"> You dont have permission for this page</p>
{% else %}
<div class="top">
    <div class="wrapper">
                    <form class="main_form " method='POST'>
                        {% csrf_token %}
                        <h1>Edit Task</h1>
                        <div class="row">
                            {% comment %} <div class="col-md-12 ">
                                <input class="form_contril" placeholder="Title " type="text" name="title" value="{{ form.title.value }}">
                                
                                {% comment %} {% for err in form.title.errors %}
                                    <small class='text-danger'>{{err}}</small>
                                {% endfor %} 
                                
                            </div> {% endcomment %}

                            <div class="input-box ">
                                <label class="form-label">Title</label>
                                <input class="form_control" placeholder="Title " type="text" name="title" value="{{ form.title.value }}">
                                {% for err in form.text.errors %}
                                    <small class='text-danger'>{{err}}</small>
                                {% endfor %}
                            </div>

                            {% comment %} <div class="col-md-12">
                                <textarea class="textarea" placeholder="Text" type="text" name="text">{{ form.text.value }}</textarea>
                                
                            </div> {% endcomment %}

                            <div class="input-box">
                                <label class="form-label">Text</label>
                                <textarea class="textarea" placeholder="Text" type="text" name="text">{{ form.text.value }}</textarea>
                                {% for err in form.text.errors %}
                                    <small class='text-danger'>{{err}}</small>
                                {% endfor %}
                            </div>


                            <div class="mycheckbox">
                                <div class='register-link'>
                                    <label for="is_done" class='form-checkbox-label'> is done?</label>
                                    <input type="checkbox" id="is_done" name="is_done" {% if form.is_done.value %}checked{% endif %} />  
                                </div>
                            </div>
                    


                            <div class="col-sm-12">
                                <button class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>         
</div>
{% endif %}
{% endblock content %}